.vscode
documents
main
/code/avoidDoc
/code/composite/
/code/compositeSingletonFabrique/
/code/observer/
/code/python/
/code/separe0/
/code/singleton/
/code/version12/
/code/versionX/
/code/seppare/
/code/maint
/code/tmp.wsd
/code/documents/
out
/tesTex/
.vscode/
